.nav-item{
margin-left: 11px;
margin-right: 11px;
}
.btn_padding{
padding-left: 40px;
}
.footer_copyright_text{
color: #0f4c81;
font-size: 12px;
padding-bottom: 40px;
padding-right:100px;
}
.padding_card{
padding-top: 25px;
}
.padding_content{
padding: 30px 0px 30px 0px;
}
.card_shadow {
box-shadow: 2px 2px 19px 2px #3399ff2e;
border-radius: 0px;
}
.card_header{
padding-top: -10px;
margin-top: -50;
margin-top: -20px;
}
.font_icon_color{
color: #3399FF;
}
.copyright_color{
background-color: #0ea6e1;
}
.iframe_height{
height: 350px;
}
.footer_top{
background-color:#0faeef;
color: #fff;
font-family: "Poppins";
font-size: 13px;
}
.margin_p{
margin: 1.2px;
}
h1,h2,h3,h4,h5,h6{
font-family:"PT Serif";
font-weight: 700;
}
p{
font-family: "Poppins";
font-size: 15px;
}
a{
font-family: "Poppins";
text-decoration: uppercase;
font-size: 14px;
font-weight: bold;
color: ;
}
.bg-img{
background-image: url("img/main_shape.svg");
height:100%;
width: 1200px;
}
.contactpage_img{
background-image: url('../img/contactme.svg');
opacity: 70%;
height: 300px;
/* Center and scale the image  */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color: #000000;
text-align: center;
}
.iframe_height_contact{
height: 400px;
}
.navbar-light .navbar-nav .nav-link {
color: #000;
}
.readmore_color{
color:white;
}
.padding_service{
padding-top: 6%;
}
.hover{
color: white;
}
.padding_service_it{
padding-top: 5%;
}
#myBtn {
display: none;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
font-size: 15px;
border: none;
outline: none;
background-color: #00aeef;
color: white;
cursor: pointer;
padding: 12px;
border-radius: 4px;
opacity: 0.3;
}
#myBtn:hover {
background-color:#0076a3;
}
.a.dropdown-item.active{
background:none;
}
.dropdown-item.active, .dropdown-item:active {
color: #007bff !important;
text-decoration: none;
background-color: #ffffff;
}
.background_img {
background-image: url('../img/main_shape.svg');
background-repeat: no-repeat;
background-position:right;
/*background-size: 70% 120%;*/
}
.background_about {
background-image: url('../img/about.svg');
background-repeat: no-repeat;
background-position:right;
}
/*background-size: 70% 120%;*/
.test {
width: 350px;
height: 320px;
background-color:#00aeef;
}
.btn-get-started {
font-size: 16px;
letter-spacing: 1px;
display: inline-block;
padding: 8px 32px;
border-radius: 45px;
transition: 0.5s;
margin: 10px;
color: #fff;
background: #00aeef;
}
#bbtn:hover {
color:black;
}
@media (max-width: 576px) {
#test {
position: relative !important;
}
#hide{
padding-left: 0px !important;
}
}
.padding_contact{
padding-top:7%;
}
.contactpag{
background-image: url('https://images.pexels.com/photos/1240532/pexels-photo-1240532.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
opacity: 60%;
height: 275px;
/* Center and scale the image  */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color: #ffffff;
text-align: center;
}
.btn_contact{
font-size: 16px;
letter-spacing: 1px;
padding: 6px 20px;
border-radius: 4px;
transition: 0.2s;
position: relative;
color: dark;
background: #ffffff;
}
.column {
float: left;
width: 20%;
padding: 5px;
}
.blogpage{
background-image: url('https://images.pexels.com/photos/733856/pexels-photo-733856.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
opacity:95%;
height: 275px;
/* Center and scale the image  */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color: #ffffff;
text-align: center;
padding-top:10%;
}
.card_head{
padding-top: -10px;
margin-top: -50;
margin-top: -50px;
}
.unorder_list{
font-size: 17px;
}
.img_moment:hover {
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
}
.flip-box {
background-color: transparent;
width: 250px;
height: 200px;
border: 1px solid #f1f1f1;
perspective: 1000px;
}
.flip-box-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner {
transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}
.flip-box-front {
background-color: #bbb;
color: black;
}
.flip-box-back {
background-color: #02aeef;
color: white;
transform: rotateY(180deg);
}
.a {
font-size: 12px;
font-weight: bold;
}
.pb-4, .py-4,.pt-3, .py-3 {
padding-bottom: 0rem;
padding-top: 0rem;
}
.hr_margin{
margin-bottom: -0.0rem;
}
.read_color{
color: #0faeef;
}
.header-top-left {
margin-bottom: 0;
padding: 5px 0;
}
.a_size {
font-weight: normal;
}
.zoom {
transition: transform .4s;
width: 400px;
height: 400px;
}
.zoom:hover {
-ms-transform: scale(1.1); /* IE 9 */
-webkit-transform: scale(1.1); /* Safari 3-8 */
transform: scale(1.1);
}
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700);
.tiles {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.tile {
position: absolute;
float: left;
width: 600px;
height: 600px;
overflow: hidden;
}
.photo {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
transition: transform .5s ease-out;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.txt {
position: absolute;
z-index: 2;
right: 0;
bottom: 10%;
left: 0;
font-family: 'Roboto Slab', serif;
font-size: 9px;
line-height: 12px;
text-align: center;
cursor: default;
}
.x {
font-size: 32px;
line-height: 32px;
}

.con{
  position: relative;
  width: 50%;
}

.im{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.mid{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-90%, -90%);
  text-align: center;
}
.con:hover .im {
  opacity: 1;
}
.con:hover .mid{
  opacity: 1;
}
.txte{
  background-color: #00aeef;
  color: white;
  font-size: 14px;
  padding: 16px 32px;
}

 