.coverpage_img{
   background-color: #001e50;
    
    height: 500px;
/* Center and scale the image  */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color: #ffffff;
}

.padding_text{
  	padding-top: 170px;
  }
.myBtn {
display: none;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
font-size: 15px;
border: none;
outline: none;
background-color: #00aeef;
color: white;
cursor: pointer;
padding: 12px;
border-radius: 0px;
opacity: 0.3;
}

 .description-main {
    font-family: SlateForOnePlusMedium,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 30px;
    background-image: -webkit-linear-gradient(45deg,#008fe4,#000e37);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.coverpa_img{
   background-color: #001e50;
    
    height: 650px;
/* Center and scale the image  */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color: #ffffff;
}

.coverp_img{
   background-color: #001e50;
    
    height:px;
/* Center and scale the image  */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color: #ffffff;
}